
<div class="canvas">
  <div class="map" *ngIf="isDataLoaded">

    <button [ngStyle]="{'border-color': letti[0].stato === true ? '#aa2e25' : 'green' }" id="letto1" class="orizzontale" mat-button (click)="apriDialog(1)"></button>
    <button [ngStyle]="{'border-color': letti[1].stato === true ? '#aa2e25' : 'green' }" id="letto2" class="verticale" mat-button (click)="apriDialog(2)"></button>
    <button [ngStyle]="{'border-color': letti[2].stato === true ? '#aa2e25' : 'green' }" id="letto3" class="verticale" mat-button (click)="apriDialog(3)"></button>
    <button [ngStyle]="{'border-color': letti[3].stato === true ? '#aa2e25' : 'green' }" id="letto4" class="orizzontale" mat-button (click)="apriDialog(4)"></button>
    <button [ngStyle]="{'border-color': letti[4].stato === true ? '#aa2e25' : 'green' }" id="letto5" class="orizzontale" mat-button (click)="apriDialog(5)"></button>
    <button [ngStyle]="{'border-color': letti[5].stato === true ? '#aa2e25' : 'green' }" id="letto7" class="orizzontale" mat-button (click)="apriDialog(6)"></button>
    <button [ngStyle]="{'border-color': letti[6].stato === true ? '#aa2e25' : 'green' }" id="letto6" class="orizzontale" mat-button (click)="apriDialog(7)"></button>
    <button [ngStyle]="{'border-color': letti[7].stato === true ? '#aa2e25' : 'green' }" id="letto8" class="orizzontale" mat-button (click)="apriDialog(8)"></button>
    <button [ngStyle]="{'border-color': letti[8].stato === true ? '#aa2e25' : 'green' }" id="letto9" class="orizzontale" mat-button (click)="apriDialog(9)"></button>
    <button [ngStyle]="{'border-color': letti[9].stato === true ? '#aa2e25' : 'green' }" id="letto10" class="orizzontale" mat-button (click)="apriDialog(10)"></button>
    <button [ngStyle]="{'border-color': letti[10].stato === true ? '#aa2e25' : 'green' }" id="letto11" class="orizzontale" mat-button (click)="apriDialog(11)"></button>
    <button [ngStyle]="{'border-color': letti[11].stato === true ? '#aa2e25' : 'green' }" id="letto12" class="verticale" mat-button (click)="apriDialog(12)"></button>
    <button [ngStyle]="{'border-color': letti[12].stato === true ? '#aa2e25' : 'green' }" id="letto13" class="verticale" mat-button (click)="apriDialog(13)"></button>
    <button [ngStyle]="{'border-color': letti[13].stato === true ? '#aa2e25' : 'green' }" id="letto14" class="verticale" mat-button (click)="apriDialog(14)"></button>
    <button [ngStyle]="{'border-color': letti[14].stato === true ? '#aa2e25' : 'green' }" id="letto15" class="verticale" mat-button (click)="apriDialog(15)"></button>
    <button [ngStyle]="{'border-color': letti[15].stato === true ? '#aa2e25' : 'green' }" id="letto16" class="verticale" mat-button (click)="apriDialog(16)"></button>
    <button [ngStyle]="{'border-color': letti[16].stato === true ? '#aa2e25' : 'green' }" id="letto17" class="verticale" mat-button (click)="apriDialog(17)"></button>
    <button [ngStyle]="{'border-color': letti[17].stato === true ? '#aa2e25' : 'green' }" id="letto18" class="verticale" mat-button (click)="apriDialog(18)"></button>
    <button [ngStyle]="{'border-color': letti[18].stato === true ? '#aa2e25' : 'green' }" id="letto19" class="verticale" mat-button (click)="apriDialog(19)"></button>
    <button [ngStyle]="{'border-color': letti[19].stato === true ? '#aa2e25' : 'green' }" id="letto20" class="verticale" mat-button (click)="apriDialog(20)"></button>
    <button [ngStyle]="{'border-color': letti[20].stato === true ? '#aa2e25' : 'green' }" id="letto21" class="verticale" mat-button (click)="apriDialog(21)"></button>
    <button [ngStyle]="{'border-color': letti[21].stato === true ? '#aa2e25' : 'green' }" id="letto22" class="verticale" mat-button (click)="apriDialog(22)"></button>
    <button [ngStyle]="{'border-color': letti[22].stato === true ? '#aa2e25' : 'green' }" id="letto23" class="verticale" mat-button (click)="apriDialog(23)"></button>
  </div>
  <img src="../../assets/img/pianta.png" alt="" height="1275px">
</div>
