.header {
  background-color: rgba(3,51,102);

  height: 50px;

  -webkit-box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 10px 1px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 10px 1px rgba(50, 50, 50, 0.75);

  position: relative;
}

.routing mat-icon, a mat-icon {
  color: #fff;
  font-size: 2rem;
  margin-top: 8px;
  margin-left: 5%;

}

.routing {
  right: 20%;
  top: 50%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  position: absolute;

}

mat-label {
  color: #fff;
}

mat-label span {
  font-weight: 700;
}

.logout {
  right: 5%;
  top: 50%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  position: absolute;
}

.logout mat-icon {
  color: #fff;
}

.routing button {
  margin-left: 20px;
  height: 32px;
  width: 90px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-size: 0.8rem;

}


.routing button:focus {outline:0;}

.routing button:hover {
  background-color: white !important;
  color: black !important;
  -webkit-transition: 0.3s !important;
  transition:0.3s !important;
}

ng-deep {

    -webkit-transition: 0.3s !important;
    transition:0.3s !important;


}

.bt1, .btn2, .btn3 {

    cursor:pointer;

}
